SENTRY_SECRET_KEY=''
SENTRY_MEMCACHED_HOST=memcached
SENTRY_REDIS_HOST=redis
SENTRY_POSTGRES_HOST=postgres
SENTRY_EMAIL_HOST=smtp

GITHUB_APP_ID=
GITHUB_API_SECRET=

SENTRY_EMAIL_HOST=
SENTRY_EMAIL_USER=
SENTRY_EMAIL_PASSWORD=
SENTRY_SERVER_EMAIL=
